*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
section{
  padding: 100px;
}
.banner
{
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner h2{
  font-size: 3em;
  color: white;
  font-weight: 500;
  line-height: 1.5em;
}
.banner h2 span{
  font-size: 1.5em;
  font: weight 700px;;
}
.banner h3{
  font-size: 1.5em;
  color: white;
  font-weight: 500;
}
.btn{
  position: relative;
  background: pink;
  display: inline-block;
  color:white;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
  border-radius: 5px;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display:flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
header .logo
{
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
}
header.sticky .logo{
  color: black;
}
header.sticky{
  background: white;
  padding: 20px 100px;
}
header.sticky ul li a{
  color: black;
}
header ul{
  position: relative;
  display: flex;
}
header ul li{
  position: relative;
  list-style: none;
}
header ul li a{
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: white;
  text-decoration: none;
}
.heading{
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
  color:black
}
.heading h2{
  font-weight: 600;
  font-size: 30px;
}
.content{
  display: flex;
  justify-content: space-between;
}
.contentBx{
  padding-right: 50px;
}
.contentBx h3{
  font-size: 24px;
  margin-bottom: 10px;
  background: darkslategray;
  color: white;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.w50{
  min-width: 50%;
  background: darkslategray;
  color: white;
  font-weight: 600;
  margin-right: 20px;
  border-radius: 10px 10px 10px 10px;
  padding: 40px;
}
img{
  max-width:50%;
  border-radius: 10px;
}
.work{
  background: rgb(244, 231, 183);
}
.work .content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.work .content .servicesBx{
  padding: 40px 20px;
  background: lightpink;
  color: maroon;
  max-width: 340px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
  border-radius: 10px;
}
.work .content .servicesBx:hover{
  background:paleturquoise;
}
